main h2 {
    font-weight: normal;
    margin-top: 20vh;
}

main h3 {
    margin-top: 3vh;
    font-family: var(--font-family);
}

#remember-me-input {
    flex-direction: row;
    margin-left: 1vw;
}

#remember-me-input input[type="checkbox"] {
    margin-right: .3vw;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    main h2 {
        margin-top: 12vh;
    }
}

@media screen and (max-width: 425px) {
    main h2 {
        margin-top: 20vh;
    }
}

@media screen and (max-width: 250px) {
    main h2 {
        font-size: 1.2rem;
    }
}